.MyBlock{
    padding: 10px;
    position: relative;
}



.listrow{
    display:flex;
    justify-content: center;
    align-items:top;
}

.list{
    width:30%;
}

img{
    height:200px;
}

.person{
    display:flex;
    padding-bottom:10px;
}

.bio{
    padding-left:10px;
}