.width-100 {
  width: 100%;
}

.profile-info {
  float: right;
  padding: 5px;
  color: rgba(0, 0, 21, 0.5);
  cursor: pointer;
}

.contract-book-icon {
  margin-left: 1vw;
}

.layout {
  width: 75vw;
  margin: auto;
}
