.width-100 {
  width: 100%;
}

.profile-info {
  float: right;
  padding: 5px;
  color: rgba(0, 0, 21, 0.5);
  cursor: pointer;
}

.contract-book-icon {
  margin-left: 1vw;
}

.layout {
  width: 75vw;
  margin: auto;
}

img {
  height: 50px;
}

.ReactModal__Content {
  position: unset !important;
  inset: unset !important;
  width: 30vw;
  margin: auto;
  padding: 0 !important;
}

.ReactModal__Overlay {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

.justify-content {
  text-align: justify;
}
